;**░█▀▀░█▀█░█▄█░█▄█░█▀▀░█▀█░▀█▀░█▀▀
;**░█░░░█░█░█░█░█░█░█▀▀░█░█░░█░░▀▀█
;**░▀▀▀░▀▀▀░▀░▀░▀░▀░▀▀▀░▀░▀░░▀░░▀▀▀
;** Anything preceeded by ";**" at the beginning of a line is a comment to help you understand the configurable line
;** Arrays are numbered from 0 so any comments about what each value in the does reflects that
;** More information on arrays can be found here https://docs.duet3d.com/en/User_manual/Reference/Gcode_meta_commands#array-expressions

;**░█▄█░█▀█░█▀▀░█░█░▀█▀░█▀█░█▀▀░░░█▀▀░█▀▀░▀█▀░▀█▀░▀█▀░█▀█░█▀▀░█▀▀
;**░█░█░█▀█░█░░░█▀█░░█░░█░█░█▀▀░░░▀▀█░█▀▀░░█░░░█░░░█░░█░█░█░█░▀▀█
;**░▀░▀░▀░▀░▀▀▀░▀░▀░▀▀▀░▀░▀░▀▀▀░░░▀▀▀░▀▀▀░░▀░░░▀░░▀▀▀░▀░▀░▀▀▀░▀▀▀

;** This sets the general machine travel speeds for things like parking etc
;** X and Y are the first value, Z is the second value.
;** Both values are in mm/s
;** The array size must not be increased
set global.Machine_travel_speed = {150, 5}

;** This sets whether there are any debug messages or not
;** The default is false
set global.Machine_debug = false ; was AFC_debug

;** This sets which features of the load/unload process you want to enable
;** They are in the order of
;** brush
var brush = false

;** cut
var cut = false

;** kick
var kick = false

;** park
var park = false

;** poop
var poop = false

;** purge
var purge = false

;** carry out a startup check
var start = false

;** spoolman support
;** this sets whether spoolman filament tracking support is to be enabled
;** 0 = disabled
;** 1 = enabled
var spoolman = 0

;** initial unload
;** 0 = use measurements
;** 1 = use the global_machine_extruder_switches[0] which in the input switch. This must be condifured
var initial_unload = 1

;** This is the Object Model Number of the axis we use for loading the filament. 
;** If you just have X, Y and Z then this should be set to 3. Each additional axis you've added will increment this number
set global.Machine_om_axis_number = 4

;** These are the measurements of your extruder setup. 
;** Overall length from input to nozzle (mm)
set global.Machine_extruder_measurements[0] = 125
;** Length from the input to the cutter (mm)
set global.Machine_extruder_measurements[1] = 40
;** Length from the cutter to the nozzle (mm). Should be the overall length - input to cutter
set global.Machine_extruder_measurements[2] = 85

;** These are the switches either side of the extruder if installed.
;** These are absolute input addresses because they are expected to not be on an expansion board
;** Assumed not used, so nil,nil by default
;** the switch above the extruder
set global.Machine_extruder_switches[0] = "nil" 
;** the switch below the extruder
set global.Machine_extruder_switches[1] = "nil" 

;** These are used as part of the start_print.g
;** This is how long to soak the printer with the bed on when printing ABS or ASA. Value is in minutes
set global.Machine_soak_time = 15 

;** Used to check whether the gcode sliced is for the nozzle size installed in this printer 
set global.Machine_nozzle_diameter = 0.4 

;** This is a list of the filaments to soak for. The filament name must match the name generated by the slicer gcode
;** This array can be increased to however many filaments you want to trigger a chamber soak
set global.Machine_filament_soak = {"ABS", "ASA"} 

;**░█▀▀░█░█░▀█▀░░░█▀▀░█▀▀░▀█▀░▀█▀░▀█▀░█▀█░█▀▀░█▀▀
;**░█░░░█░█░░█░░░░▀▀█░█▀▀░░█░░░█░░░█░░█░█░█░█░▀▀█
;**░▀▀▀░▀▀▀░░▀░░░░▀▀▀░▀▀▀░░▀░░░▀░░▀▀▀░▀░▀░▀▀▀░▀▀▀

;** This should be the position of the toolhead where the cutter arm just
;** lightly touches the depressor pin
;** The first value is the x coordinate and the second value is the y coordinate
;** The array size must not be increased
set global.Machine_cut_location = {-1,-1}

;** Direction to make the cut move (left, right, front, back).
;** Make sure the word you change to is all lowercase
;** AFC_Marco_Vars.cfg line 38
set global.Machine_cut_direction = "left"

;** 0 = Park (mm)
;** This distance is used to move toolhead to cut filament
;** and to create a small saftely distance that aids in generating momentum
;** Position of the toolhead when the cutter is fully compressed.
set global.Machine_cut_dist[0] = 6.0
;** 1 = Move (mm)
;** Distance the toolhead needs to travel to compress the cutter arm.
;** To calculate this distance start at the pin_loc_xy position and move
;** your toolhead till the cutter arm is completely compressed. Take 0.5mm off this distance
;** as a buffer. 
;** Ex pin_loc_x : 9, 310  fully compressed at 0, 310 set cut_move_dist to 8.5
set global.Machine_cut_dist[1] = 8.5 

;** Speed related settings for tip cutting
;** Note that if the cut speed is too fast, the steppers can lose steps.
;** Therefore, for a cut:
;** - We first make a fast move to accumulate some momentum and get the cut
;**   blade to the initial contact with the filament
;** - We then make a slow move for the actual cut to happen 
;** 0 = Fast speed (mm/s)
set global.Machine_cut_move[0] = 32
;** 1 = slow speed (mm/s)
set global.Machine_cut_move[1] = 10
;** 2 = evacuate speed (mm/s)
set global.Machine_cut_move[2] = 150
;** 3 = dwell time (ms)
set global.Machine_cut_move[3] = 50
;** 4 = fast move fraction
set global.Machine_cut_move[4] = 0.85
;** 5 = extruder move speed (mm/s)
set global.Machine_cut_move[5] = 25
;** 6 = cut count
set global.Machine_cut_move[6] = 2

;** If the toolhead returns to initial position after the cut is complete.
set global.Machine_cut_restore_pos = false ; True = return to initial position, False = don't return

;** Distance to retract prior to making the cut, this reduces wasted filament but might cause clog 
;** if set too large and/or if there are gaps in the hotend assembly 
;** This must be less than the distance from the nozzle to the cutter
set global.Machine_cut_retract_length = 20 ; Distance (mm)

;** This can help prevent clogging of some toolheads by doing a quick tip from to reduce stringing
set global.Machine_cut_quick_tip_forming = false ; true or false

;** Retract length and speed after the cut so that the cutter can go back 
;** into its origin position
;** Distance (mm)
set global.Machine_cut_rip[0] = 1.0
;** Speed (mm/s)
set global.Machine_cut_rip[1] = 3

;** Pushback of the remaining tip from the cold end into the hotend
;** *Must be less then retract_length
;** Distance (mm)
set global.Machine_cut_pushback[0] = 15
;** time to dwell between the pushback (ms)
set global.Machine_cut_pushback[1] = 20 

;** Safety margin for fast vs slow travel. When traveling to the pin location
;** we make a safer but longer move if we are closer to the pin than this
;** specified margin. Usually setting these to the size of the toolhead
;** (plus a small margin) should be good enough 
;** The array size must not be increased
set global.Machine_cut_safe_margin = {30,30} ; X and Y, approx toolhead width +5mm, height +5mm

;** Some printers may need a boost of power to complete the cut without skipping steps.
;** One option is to increase the current for thost steppers in config.g. Another
;** option is to use these variables to set a current that is only used during the
;** cut motion. Different combinations of kinematics and cutter configurations engage
;** different combinations of steppers for that motion.  Set the needed variables.
;** The override is skipped if the current is 0.
;** Enable if layer shifts occur when cutting
;** The array size must not be increased
set global.Machine_cut_current_stepper = {0,0,0} ; X, Y and Z in mA

;**░█▀█░█▀█░█▀█░█▀█░░░█▀▀░█▀▀░▀█▀░▀█▀░▀█▀░█▀█░█▀▀░█▀▀
;**░█▀▀░█░█░█░█░█▀▀░░░▀▀█░█▀▀░░█░░░█░░░█░░█░█░█░█░▀▀█
;**░▀░░░▀▀▀░▀▀▀░▀░░░░░▀▀▀░▀▀▀░░▀░░░▀░░▀▀▀░▀░▀░▀▀▀░▀▀▀

;** Sets the poop location in X and Y
;** The array size must not be increased
set global.Machine_purge_location = {-1,-1} ; X, Y location of where to purge

;** Sets the extrusion speed for the purge
set global.Machine_purge_speed = 6.5 ; speed (mm/s) of the purge

;** Set to False to not move in Z during poop
set global.Machine_z_purge_move = true 

;** Speed, in mm/s to lift z after the purge is completed. Its a faster lift to keep it from 
;** sticking to the toolhead
;** height to raise above the final purge position after the purge is completed as part of the fast z move
;** example: If final poop height ends at 20mm this variable will raise Z to 30mm
;** speed (mm/s)
set global.Machine_purge_fast_z[0] = 200
;** height (mm)
set global.Machine_purge_fast_z[1] = 20

;** If the toolhead returns to initial position after the poop is complete.
set global.Machine_purge_restore = false ; True = return to initial position, False = don't return

;** The height to raise the nozzle above the tray before purging. This allows any built up 
;** pressure to escape before the purge.
;** AFC_Marco_Vars.cfg line 145
set global.Machine_purge_start = 0.6

;** Set the part cooling fan speed. Disabling can help prevent the nozzle from cooling down 
;** and stimulate flow, Enabling it can prevent blobs from sticking together.
;** Run at full speed
set global.Machine_part_cooling_fan[0] = true 
;** speed to run fan when enabled (0 to 1.0)
set global.Machine_part_cooling_fan[1] = 1.0 
;** time to pause after purge to allow fan to cool the poop (s)
set global.Machine_part_cooling_fan[2] = 2  

;**░█▀█░█░█░█▀▄░█▀▀░█▀▀░░░█░░░█▀▀░█▀█░█▀▀░▀█▀░█░█░░░▀█▀░█░█░█▀█░▀█▀░█▀█░█▀▀
;**░█▀▀░█░█░█▀▄░█░█░█▀▀░░░█░░░█▀▀░█░█░█░█░░█░░█▀█░░░░█░░█░█░█░█░░█░░█░█░█░█
;**░▀░░░▀▀▀░▀░▀░▀▀▀░▀▀▀░░░▀▀▀░▀▀▀░▀░▀░▀▀▀░░▀░░▀░▀░░░░▀░░▀▀▀░▀░▀░▀▀▀░▀░▀░▀▀▀

;** Default purge length to fall back on when neither the tool map purge_volumes or 
;** parameter PURGE_LENGTH is set.
;** Default purge length (mm)
set global.Machine_purge_length[0] = 72.111 
;** absolute minimum purge length (mm)
set global.Machine_purge_length[1] = 60.999

;** The slicer values often are a bit too wasteful. Tune it here to get optimal values. 0.6
;** is a good starting point.
set global.Machine_purge_length_modifier = 1

;** Length of filament to add after the purge volume. Purge volumes don't always take 
;** cutters into account and therefor a swap from red to white might be long enough, but 
;** from white to red can be far too short. When should you alter this value:
;**   INCREASE: When the dark to light swaps are good, but light to dark aren't.
;**   DECREASE: When the light to dark swaps are good, but dark to light aren't. Don't 
;**     forget to increase the purge_length_modifier
set global.Machine_purge_length_addition = 0

;**░█░█░▀█▀░█▀▀░█░█░░░█▀▀░█▀▀░▀█▀░▀█▀░▀█▀░█▀█░█▀▀░█▀▀
;**░█▀▄░░█░░█░░░█▀▄░░░▀▀█░█▀▀░░█░░░█░░░█░░█░█░█░█░▀▀█
;**░▀░▀░▀▀▀░▀▀▀░▀░▀░░░▀▀▀░▀▀▀░░▀░░░▀░░▀▀▀░▀░▀░▀▀▀░▀▀▀

;** Location to move before kick
set global.Machine_kick[0] = -1 ; X
set global.Machine_kick[1] = -1 ; Y
set global.Machine_kick[2] = 5  ; Z
;** Height to drop to for kick move (mm)
set global.Machine_kick[3] = 1.5
;** Speed of kick movement
set global.Machine_kick[4] = 150
;** Accel of kick moves. This will overwrite the global accel for this macro. Set to 0 to use global accel
set global.Machine_kick[5] = 0
;** Direction to make the kick move (left, right, front, back)
set global.Machine_kick[6] = "right"
;** How far to move to kick poop off
set global.Machine_kick[7] = 45
;** Height of z after kick move
set global.Machine_kick[8] = 10

;**░█▀▄░█▀▄░█░█░█▀▀░█░█░░░█▀▀░█▀▀░▀█▀░▀█▀░▀█▀░█▀█░█▀▀░█▀▀
;**░█▀▄░█▀▄░█░█░▀▀█░█▀█░░░▀▀█░█▀▀░░█░░░█░░░█░░█░█░█░█░▀▀█
;**░▀▀░░▀░▀░▀▀▀░▀▀▀░▀░▀░░░▀▀▀░▀▀▀░░▀░░░▀░░▀▀▀░▀░▀░▀▀▀░▀▀▀

;** Position of the center of the brush (Set z to -1 if you dont want a z move)
set global.Machine_brush[0] = -1 ; X
set global.Machine_brush[1] = -1 ; Y
set global.Machine_brush[2] = -1 ; Z
;** Speed of cleaning moves when brushing (mm/s)
set global.Machine_brush[3] = 150
;** Total width in mm of the brush in the X direction
set global.Machine_brush[4] = 30
;** Total depth in mm of the brush in the Y direction
set global.Machine_brush[5] = 10
;** True - Brush along Y axis first then X. False - Only brush along x
set global.Machine_brush[6] = true
;** Number of passes to make on the brush.
set global.Machine_brush[7] = 4
;** Whether the brush is on a servo or on a motor for deployment
set global.Machine_brush[8] = false
;** Servo pin number
set global.Machine_brush[9] = "0.PE6"
;** Deployed angle (degrees)
set global.Machine_brush[10] = 110
;** Retracted angle (degrees)
set global.Machine_brush[11] = 20
;** Servo number (for M950)
set global.Machine_brush[12] = 10
;** brush clean acceleration
set global.Machine_brush[13] = 0
;** True - Z needs to be above a certain height for brush deployment. False - No minimum z height required
set global.Machine_brush[14] = false
;** True - The printhead needs to be in a certain position or away from a certain position for the brush to be safely deployed. False - it doesn't
set global.Machine_brush[15] = false
;** Position to move the head to so its in a safe position away from where the brush needs to deploy
set global.Machine_brush[16] = -1 ; X
set global.Machine_brush[17] = -1 ; Y
set global.Machine_brush[18] = -1 ; Z

;**░█▀█░█▀█░█▀▄░█░█░░░█▀▀░█▀▀░▀█▀░▀█▀░▀█▀░█▀█░█▀▀░█▀▀
;**░█▀▀░█▀█░█▀▄░█▀▄░░░▀▀█░█▀▀░░█░░░█░░░█░░█░█░█░█░▀▀█
;**░▀░░░▀░▀░▀░▀░▀░▀░░░▀▀▀░▀▀▀░░▀░░░▀░░▀▀▀░▀░▀░▀▀▀░▀▀▀

set global.Machine_park = {-1,-1,0} ; Park location in X, Y and Z

;**░▀█▀░▀█▀░█▀█░░░█▀▀░█▀█░█▀▄░█▄█░▀█▀░█▀█░█▀▀░░░█▀▀░█▀▀░▀█▀░▀█▀░▀█▀░█▀█░█▀▀░█▀▀
;**░░█░░░█░░█▀▀░░░█▀▀░█░█░█▀▄░█░█░░█░░█░█░█░█░░░▀▀█░█▀▀░░█░░░█░░░█░░█░█░█░█░▀▀█
;**░░▀░░▀▀▀░▀░░░░░▀░░░▀▀▀░▀░▀░▀░▀░▀▀▀░▀░▀░▀▀▀░░░▀▀▀░▀▀▀░░▀░░░▀░░▀▀▀░▀░▀░▀▀▀░▀▀▀

;** This is the initial press of the filament into the tip before any cooling moves.
set global.Machine_tip_ramming_volume = 0 

;** Set this if you would like a temperature reduction during the tip formation.
;** If using skinny_dip, this change will happen before.
set global.Machine_tip_toolchange_temp = 0 

;** This step is split into two different movements. First, a fast move to separate the filament
;** from the hot zone. Next, a slower movement over the remaining distance of the cooling tube.
;** fast speed (mm/s)
set global.Machine_tip_unloading_speed[0] = 40 
;** cooling tube move (mm/s)
set global.Machine_tip_unloading_speed[1] = 15 

;** This stage moves the filament back and forth in the cooling tube section of the hotend.
;** It helps keep the tip shape uniform with the filament path to prevent clogs.
;** Start of the cooling tube in mm.
set global.Machine_tip_cooling[0] = 35
;** Length of the move in mm.
set global.Machine_tip_cooling[1] = 10
;** Initial movement speed to start solidifying the tip in mm/s.
set global.Machine_tip_cooling[2] = 10
;** Fast movement speed in mm/s.
set global.Machine_tip_cooling[3] = 50
;** Number of back and forth moves in the cooling tube.
set global.Machine_tip_cooling[4] = 4

;** This is a final move to burn off any hairs possibly on the end of stringy materials like PLA.
;** If you use this, it should be the last thing you tune after achieving a solid tip shape.
set global.Machine_tip_use_skinnydip = false ; Enable skinny dip moves (for burning off filament hairs).
;** Distance to reinsert the filament, starting at the end of the cooling tube in mm.
set global.Machine_tip_skinnydip[0] = 30
;** Insertion speed for burning off filament hairs in mm/s.
set global.Machine_tip_skinnydip[1] = 30
;** Extraction speed (set to around 2x the insertion speed) in mm/s.
set global.Machine_tip_skinnydip[2] = 70
;** Pause time in the melt zone in seconds.
set global.Machine_tip_skinnydip[3] = 0
;** Pause time in the cooling zone after the dip in seconds.
set global.Machine_tip_skinnydip[4] = 0

;**░█▀▄░█▀█░░░█▀█░█▀█░▀█▀░░░█▀▀░█▀▄░▀█▀░▀█▀░░░█▀█░█▀█░█▀▀░▀█▀░░░█░█░█▀▀░█▀▄░█▀▀░█░█░█
;**░█░█░█░█░░░█░█░█░█░░█░░░░█▀▀░█░█░░█░░░█░░░░█▀▀░█▀█░▀▀█░░█░░░░█▀█░█▀▀░█▀▄░█▀▀░▀░▀░▀
;**░▀▀░░▀▀▀░░░▀░▀░▀▀▀░░▀░░░░▀▀▀░▀▀░░▀▀▀░░▀░░░░▀░░░▀░▀░▀▀▀░░▀░░░░▀░▀░▀▀▀░▀░▀░▀▀▀░▀░▀░▀

set global.Machine_features={var.brush,var.cut,var.kick,var.park,var.poop,var.purge,var.start,var.spoolman,var.initial_unload} ; was AFC_features